echo "# 8-COCK-BULLSTAG-COMBO-DERBY-MONDAY-JULY-3-2023-LOCATION-1" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/boskids/8-COCK-BULLSTAG-COMBO-DERBY-MONDAY-JULY-3-2023-LOCATION-1.git
git push -u origin main
